@import "bootstrap"; 

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  background: image_url('memphis-colorful.png');
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

.navbar {
  background: image_url('what-the-hex-dark.png');
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-inverse .navbar-brand {
  color: #E88161;
  font-family: 'jurademibold';
  font-size: 26px;
}

.pagination-style {
  background: 0.0;
  cursor: default;
  /* self-clearing method: */ }
  .pagination-style a, .pagination-style span, .pagination-style em {
    padding: 0.2em 0.2em;
    display: block;
    float: right;
    margin-right: 2px; }
  .pagination-style .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .pagination-style .current {
    font-style: normal;
    font-weight: bold;
    background: #E88161;
    color: white;
    border: 1px solid #E88161; }
  .pagination-style a {
    text-decoration: none;
    color: #E88161;
    border: 1px solid #E88161; }
    .pagination-style a:hover, .pagination-style a:focus {
      color: #000033;
      border-color: #000033; }
  .pagination-style .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .pagination-style .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .pagination-style:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .pagination-style {
    overflow: hidden; }